<h1><%= @starship.name %></h1>
<p>This starship's model is <%= @starship.model %>.</p>
<p>This starship's crew capacity is <%= @starship.crew %>
<% if @starship.passengers.to_f == 0 %>
. There are not capacity for passangers.
<% else %>
, and its passenger's capacity is <%= @starship.passengers %>. </p>
<%end%>

<p>List of characters passengers/crew in this starship: </p>
<% if @starship.characters.empty? %>
  <p>There are no characters in this starship in the database.</p>
<% else %>
  <ul>
    <% @starship.characters.each do |character| %>
      <li> <%=character.name %></li>
    <%end%>
  </ul>
<%end%>

